# ignores libft
libft/

#ignores libraries and excutables
archives/
libftprintf.a
libft.a
a.out

# ignores test files and directories
test
test.c
printfTester

# ignores doxygen generate files
doxygen

#ignores objects
objs/

#ignores dependency files
deps/
